body {
  margin: 0;
  padding: 0;
  background-color: #f7F7F7;
  font-family: "Verdana", sans-serif;
}

.content {
  margin: 0 2%;
}

.boxVolledigeBreedte {
  background-color: #EEEEEE;
}

.boxHalveBreedte {
  width: 48%;
  float: left;
  background-color: #EEEEEE;
}

.links {
  margin-right: 2%;
}
.rechts {
  float: right;
}
.algemeenH1 {
  font-size: 1.25em;
  color: white;
  margin-top: 0;
}

header {
  background-color: #D32F2F;
  margin: 0;
  padding: 0;
}

img {
  width: 30px;
}

.mainNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainNav li {
  display: inline-block;
  width: 33%;
}
